html {
  background-color: #959A65;
}

h1, h2 {
  text-align: center;
  color: white;
  font-family: trocchi, 'Times New Roman', Arial, Serif;
}

table {
  background-color: #AAAE84;
  color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
}

td {
  border-top: 1px solid black;
}

.tag, .attribute, .name, .description {
  background-color: #959A65;
  width: auto;
}

.code {
  font-family: monospace;
  background-color: #8884AE;
  text-align: center;
}
  
